header {
    background-color: var(--gray-800);
}

.linkProfile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.linkProfile a h3 {
    color: var(--white);

}

.name {
    margin-left: 1.5rem;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1100px;
    margin: 0 auto;

    height: 100px;
}

.logo h1 {
    font-family: Heebo;
    font-weight: 700;
    color: #29EBAA;

    cursor: pointer;
}

.btn-newPost button{
    padding: 1rem 1.5rem;
    
    border-radius: 8px;
    border: 0;
    background: var(--green-500);
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.1s;
}

.btn-newPost button:hover {
    transition: 0.2s;
    background-color: var(--green-300);
}